.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }

  /* .page-table {
    display: 'flex';
    justifyContent: 'center';
    alignItems: 'center';
    height: '500px';
    border: '1px solid #ccc';
    marginBottom: '10px';
    flexDirection: 'row';
  } */

  .page-table {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #ccc;
    margin-bottom: 10px;
    flex-direction: row;
  }

  .page-table h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    box-sizing: content-box;
    height: 22px;
    width: 100%;
    background-color: rgb(117, 201, 250);
    padding-right: inherit;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
 tr, th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 20px;
  }